body {
	font-family: 'Scope One', serif;
	font-size: 18px;
	/*background-color: #fff;*/
	list-style: none;
	background: url('assets/bg.jpg');
	background-position: 1600px 1200px;
}

.mnu {
	overflow-x: hidden;
	position: relative;
	left: 0px;
}

.mnu_open {
	left: 161px;
}

.mnu_open .mnu_side {
	left: 0px;
}

.mnu_side, .mnu {
	-webkit-transition: left 0.2s ease-out;
	-moz-transition: left 0.2s ease-out;
	transition: left 0.2s ease-out;
}

.mnu_side {
	color: #fff;
	/*background-color: #FF9100;/* 212121; */
	background: url('assets/mnuSide.png');
	position: fixed;
	top: -20px;
	left: -161px;
	width: 140px;
	height: 100%;
	padding: 10px;
	list-style: none;
	overflow-x: hidden;
	white-space: nowrap;
	font-family: 'Scope One', serif;
}

.mnu_side li {
	margin: 8px 0px;
	width: 140px;
}

.mnu_side li a {
	color: #fff;
	transition: 0.2s color ease;
	font-family: 'Arial', serif;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 10px;
	position: relative;
	left: -40px;
	/*background-color: #F57C00;/*424242*/
	background: url('assets/mnuSide.jpg');
	border-radius: 8%;
	transition: background-color 0.2s ease;
}

.mnu_side li a:hover {
	color: #F9A825;/*FFD740*/
	background-color: #FFEB3B;
}

.wrapper {
	top: -18px;
	margin: 0px 5px;
	padding: 0px 5px;
	border: 6px solid #14181a;
	border-radius: 4%;
	/*border-left: 6px solid #C62828;E0E0E0
	border-bottom: 6px solid #C62828;*/
	background-color: #fff;
	box-shadow: 10px 10px 4px #222222;/*888888*/
}

#fixedtop {
	position: fixed;
	top: 0px;
	height: 86px;/*66*/
	max-height: 86px;
	width: 100%;/* 280px; */
	/* margin: 20px 0px; */
	/*background-color: #fff;*/
	/*background-color: #FDD835;*/
	background: url('assets/mnuSide.png');
	border-bottom: 6px solid #14181a;
	border-left: 6px solid #14181a;
	margin-left: -5px;
	padding-left: 4px;
	/*
		
		Consider Rotating MnuToggle Button when hovering

	*/
}

#fixedtop #banner {
	position: fixed;
	top: 6px;
	width: 300px;
	filter: invert(100%);
	transition: filter 0.2s ease;
}

#fixedtop #banner:hover {
	filter: invert(60%);
}

#top_mnu {
	border: solid 6px #fff;
}

#mnu_toggle {
	z-index:1;
	padding: 6px;
	position: fixed;
	top: 16px;
	width: 40px;
	filter: invert(100%);
	transition: filter 0.1s ease;
	border: solid 2px #000;
	border-radius: 10%;
	transition: border-radius 0.4s ease;
}

#mnu_toggle:hover {
	cursor: pointer;
	filter: invert(60%);
	border-color: #fff;
	border-radius: 80%;
}

#header {
	padding-left: 54px;
	position: fixed;
	top: -20px;
}

#header h1 {
	padding: 10px 10px;
	font-family: 'Arial';
}

#content {
	font-size: 14px;
	width: 100%;
}

#footer {
	font-size: 14px;
	overflow-x: hidden;
}

/* --- Custom Classes --- */
.divider {
	color: white;
	margin: 40px 0px;
}

.para {
	font-size: 16px;
	font-family: 'Bitter', serif;
}

.note {
	padding-left: 20px;
	color: #212121;
}

.narrow {
	letter-spacing: -2px;
}

.dark {
	background-color: #212121;
	color: #fff;
}

.bgwhite {
	/*background: #E53935;
	color: #fff;*/
	background-color: #fff;
	font-family: 'Bitter', serif;
	overflow-x: hidden;
	width: 1000px;
	letter-spacing: -2px;
}

.space {
	display: none;
}

.mouseover {
	display: unset;
	visibility: hidden;
}

/* -- Carousel Galleries -- */
.stepcarousel {
	position: relative;
	background: url('assets/mnuSide.png');/*#FDD835;*/
	border: 10px solid #FBC02D;
	overflow: hidden;
	/* overflow: scroll; */
	width: 240px;
	height: 200px;
	box-shadow: 8px 8px 2px #F57F17;
}

.stepcarousel .belt {
	position: absolute;
	left: 0px;
	top: 0px;
}

.beltPost1 {
	/* background-color: orange;*/
}
.beltPost2{
	/* background-color: white; */
}
.beltPost3 {
	/* background-color: yellow; */
}

.beltPost1 .panels {
	position: relative;
	top: 0px;
	display: block;
	transition: top 0.8s ease-out;
}

.beltPost2 .panels {
	position: relative;
	top: -180px;
	display: block;
	transition: top 0.8s ease-out;
}

.beltPost3 .panels {
	position: relative;
	top: -360px;
	display: block;
	transition: top 0.8s ease-out;
}

.beltPost4 .panels {
	position: relative;
	top: -540px;
	display: block;
	transition: top 0.8s ease-out;
}

.stepcarousel .panel {
	float: left;
	overflow: hidden;
	margin: 15px;
	width: 250px;
}

.panelimg {
	width: 180px;
	display: block;
}

.beltbtns {
	background-color: #FBC02D;
	position: absolute;
	left: 180px;
	top: 0px;
	height: 160px;
	/*border: 8px solid black;*/
}

.beltbtn {
	position: absolute;
	left: 20px;
	
	background-color: #FDD835;
	border: 4px solid #F9A825;
	transition: border 0.05s ease;
	border-radius: 10px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	display: inline-block;
}

.beltbtn:hover {
	background: #F9A825;
	border: 6px solid #F57F17;
}

.beltbtnup {
	top: 20px;
}
.beltbtndown {
	top: 140px;
}

