body {
	font-family: 'Scope One', serif;
	font-size: 18px;
	background-color: #E0E0E0;
	list-style: none;
}

.mnu {
	overflow-x: hidden;
	position: relative;
	left: 0px;
}

.mnu_open {
	left: 161px;
}

.mnu_open .mnu_side {
	left: 0px;
}

.mnu_side, .mnu {
	-webkit-transition: left 0.2s ease-out;
	-moz-transition: left 0.2s ease-out;
	transition: left 0.2s ease-out;
}

.mnu_side {
	color: #fff;
	background-color: #01579B;/* 212121; */
	position: fixed;
	top: -20px;
	left: -161px;
	width: 140px;
	height: 100%;
	padding: 10px;
	list-style: none;
	overflow-x: hidden;
	white-space: nowrap;
	font-family: 'Scope One', serif;
}

.mnu_side li {
	margin: 8px 0px;
	width: 140px;
}

.mnu_side li a {
	color: #fff;
	font-family: 'Scope One', serif;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 10px;
	position: relative;
	left: -40px;
	background-color: #0288D1;
}

.mnu_side li a:hover {
	color: #ffd41c;
}

.wrapper {
	top: -8px;
	margin: 0px 5px;
	padding: 0px 5px;
	border-left: 6px solid #000;
	background-color: #fff;
	box-shadow: 10px 10px 4px #888888;
}

#fixedtop {
	position: fixed;
	top: 0px;
	height: 66px;
	max-height: 66px;
	width: 100%;/* 280px; */
	/* margin: 20px 0px; */
	background-color: #fff;
	border-bottom: 4px solid #000;
}

#mnu_toggle {
	z-index:1;
	position: fixed;
	top: 16px;
	width: 40px;
}

#mnu_toggle:hover {
	cursor: pointer;
}

#header {
	padding-left: 46px;
	position: fixed;
	top: -20px;
}

#header h1 {
	padding: 10px 10px;
}

#content {
	font-size: 14px;
	width: 100%;
}

#footer {
	font-size: 14px;
	overflow-x: hidden;
}

.divider {
	color: white;
	margin: 26px 0px;
}

.para {
	font-size: 16px;
	font-family: 'Bitter', serif;
}

.dark {
	background-color: #212121;
	color: #fff;
}

.colored {
	background-color: #E53935;
	color: #fff;
	font-family: 'Bitter', serif;
}

.space {
	display: none;
}

.mouseover {
	display: unset;
	visibility: hidden;
}

/* -- Carousel Galleries -- */
.stepcarousel {
	position: relative;
	border: 10px solid #263238;
	overflow: hidden;
	/* overflow: scroll; */
	width: 240px;
	height: 200px;
	box-shadow: 8px 8px 2px #888888;
}

.stepcarousel .belt {
	position: absolute;
	left: 0px;
	top: 0px;
}

.beltPost1 {
	/* background-color: orange;*/
}
.beltPost2{
	/* background-color: white; */
}
.beltPost3 {
	/* background-color: yellow; */
}

.beltPost1 .panels {
	position: relative;
	top: 0px;
	display: block;
	transition: top 0.8s ease-out;
}

.beltPost2 .panels {
	position: relative;
	top: -180px;
	display: block;
	transition: top 0.8s ease-out;
}

.beltPost3 .panels {
	position: relative;
	top: -360px;
	display: block;
	transition: top 0.8s ease-out;
}

.beltPost4 .panels {
	position: relative;
	top: -540px;
	display: block;
	transition: top 0.8s ease-out;
}

.stepcarousel .panel {
	float: left;
	overflow: hidden;
	margin: 15px;
	width: 250px;
}

.panelimg {
	width: 180px;
	display: block;
}

.beltbtn {
	position: absolute;
	left: 200px;
	
	background: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	display: inline-block;
}

.beltbtn:hover {
	background: gray;
}

.beltbtnup {
	top: 20px;
}
.beltbtndown {
	top: 140px;
}

